/* Spine 小部件容器 */
#spine-widget {
    position: fixed;
    bottom: 12px;
    right: 0;
    width: 400px;
    height: 400px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

/* 画布 */
#spine-canvas {
    width: 100%;
    height: 100%;
}